*{
    box-sizing: border-box;
    background: rgb(245, 248, 255);
    font-family: "Inter", sans-serif;
    margin: 0;
} 
/* ------------repeat-style------------ */
.font-family{
    font-family: "Noto Serif", serif;
}
.set-width{
    margin: 0 auto;
    max-width: 1140px;
}


/* ----------------------nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.nav-img{
    padding:10px 0px ;
}
.nav-img img{
    width: 60%;
}
.nav-bar>ul{
    display: flex;
    gap: 3rem;
}
.nav-section{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav-section>li{
    list-style: none;
    
}
.nav-section>li>a{
    text-decoration: none;
    color: rgb(137, 135, 161);
}

#nav-home>a{
    color: rgb(37, 36, 50);
    font-weight: 700;
}
#cart{
    list-style: none;
    gap: 5px;
    display: flex;
    align-items: center;
}
#cart>a>img{
    width: 70%;
}
#cart>a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* -----------------------banner-------------- */
.banner-container{
    display: flex;
    align-items: end;
    margin-bottom: 120px;
}
.banner-content{
    width: 50%;
}
.banner-content-header{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(233, 90, 8);
    margin: 10px 0;
}
#header-spacial{
    color: rgb(0, 0, 0);
}
.banner-content>p{
    color: rgba(0, 0, 0, 0.5);
    width: 76%;
    font-size: 1.2rem;
    font-weight: 400;
}
.banner-img{
   width: 50%; 
}
.banner-img img{
    width: 100%;
}


/* <!-- -----------------------plant---------------- --> */
.plant-container{
    margin-bottom: 200px;
}
.plant-head{
    text-align: center;
    margin-bottom: 50px;
}
.plant-head>h1{
    color: rgb(233, 90, 8);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
#plant-spacial{
    color: rgb(0, 0, 0);
}
.plant-head>p{
    width: 65%;
    margin: auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}
/* ------------plant---card------------ */
.plant-card{
    width: 100%;
}
.card-image{
    width: 100%;
}
.card-image>img{
    width: 100%;
}
.card-content{
        text-align: center;
        margin-top: 16px;
}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.card-content>h3{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(17, 17, 17);
}
.card-content>p{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}
.plant-btn{
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 90, 8);
    padding: 12px 87px;
    border: 0px;
    transition: 1s;
}
.plant-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-radius: 8px;
}
/* --------------------badge----------- */

.badge-container{
    display: flex;
    gap: 60px;
    margin-bottom: 140px;
}
.badge-image{
    width: 100%;
    position: relative;
}
.image-1{
    width: auto;
    background: linear-gradient(180.00deg, rgba(103, 171, 234, 0.24),rgba(233, 90, 8, 0.6) 100%),url(image);
}
#image-2{
    position: absolute;
    top: -85px;
    left: 405px;
    background: none;
    animation: spin 4s linear infinite;
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg); 
      }
    
}
.badge-content>h2{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 90%;
}

.badge-content>ul>li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin-bottom: 20px;
    width: 89%;
}
/* -------------deals------------------ */
.deals-head{
    text-align: center;
    margin-bottom: 120px;
}
.deals-head>h1{
    font-size: 50px ;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.deals-head>p{
    font-size: 20px ;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    width: 68%;
    margin: auto;
}
.deals-head>h1>span{
    color: rgb(233, 90, 8);
    
}
.img-1{
    grid-area: img-1;
    padding: 50px 65px;
    border-radius: 5px;
    text-align: center;
    background-image: url(../image/deal-bloom.png);
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-2{
    grid-area: img-2;
    text-align: center;
    padding: 50px 65px;
    border-radius: 10px;
    background-image: url(../image/deal-ana.png);
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-3{
    grid-area: img-3;
    padding: 50px 65px;
    background: url(../image/deal-zabo.png);
    filter: brightness(78%);    
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 15px;
    padding-top: 200px;
}
.img-1>h3{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: none;
}
.img-2>h3{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: none;
}
.img-3>h3{
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: none;
}
.deals-btn{
    margin-top: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(233, 90, 8, 0);
    padding: 12px 87px;
    border: 0px;
    text-decoration: underline;
    transition: 1s;
}
.deals-btn:hover{
    cursor: pointer;
    background-color: rgba(206, 228, 207, 0.368);
    border-radius: 10px;
    border: 1px solid ;

}
.deals-container{
    display: grid;
    gap: 30px;
    grid-template-areas: 'img-1 img-3 img-3 img-3'
                         'img-2 img-3 img-3 img-3'
    ;
}
/* --------------join-------------- */
.join-container{
    margin-top: 120px;
    margin-bottom: 50px;
    background-image: url(../image/news-letter-bg.png);
    background-repeat: no-repeat;
    height: 533px;
    text-align: center;
    align-items: center;
    padding-top: 18%;
}
.join-container>h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: none;
}
.join-container> input{
    padding: 8px 20px;
    margin-top: 25px;
    width: 45%;
    border: 1px solid rgb(255, 255, 255);
}
.customized{
    padding: 9px 50px;
    position: relative;
    left: -10px;
}
.customized:hover{
    padding: 10px 50px;
    border-radius: 0px 10px 10px 0px;
}







/* -------------------Responsive-site-------- */


/* for-mobile-device---------------- */
@media screen and (max-width:576px){
    /* -------------navbar----------------- */
    .nav-bar{
        width: 90%;
        margin: auto;
    }
    .nav-img img{
    width: 80%;
    }
    .nav-section{
        display: none;
    }
    #cart>a>img{
    width: auto;
   }

/* ---------------banner--------------- */
   .banner-container{
    flex-direction: column-reverse;
    }
    .banner-img{
        width: 100%;
        margin-bottom: 28px;
    }
    .banner-content{
        width: 92%;
        margin: auto;
    }
    .banner-content-header{
        font-size: 2.6rem;
    }
    .banner-content>p{
        width: 100%;
        font-size: 1rem;
    }

    /* <!-- -----------------------plant---------------- --> */
    .plant-head>p{
    width: 87%;
    font-size: 1rem;
    }
    .plant-container{
    width: 92%;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
    
}
.plant-btn{
    padding: 14px 42px;
}
/* ---------------badge---------- */
#image-2{
    display: none;
}
.image-1{
    width: 100%;
}
.badge-container{
    flex-direction: column;
    width: 92%;
    margin: auto;
    margin-top: 50px;
}
.badge-content>h2{
    font-size: 34px;
    width: 100%;
}
.badge-content>ul>li{
    font-size: 16px;
    width: 100%;
}

/* ----------------deals------------------ */
.deals-container{
    grid-template-areas:'img-1'
    'img-2'
    'img-3' ;
    width: 92%;
    margin: auto;
    gap: 13px;
   }
   /* --------------join-------------- */
.join-container{
    padding-top: 40%;
    height: 426px;
}
.join-container>h1{
    font-size: 28px;
}
.customized{
    padding: 9px 25px;
}
.customized:hover{
    padding: 10px 25px;
}
}